VITE_SUPABASE_URL=seu_url_supabase_aqui
VITE_SUPABASE_ANON_KEY=sua_chave_anonima_aqui

VITE_GEMINI_API_KEY=sua_chave_gemini_aqui
VITE_OPENAI_API_KEY=sua_chave_openai_aqui
VITE_GROQ_API_KEY=sua_chave_groq_aqui
VITE_HUGGINGFACE_API_KEY=sua_chave_huggingface_aqui
VITE_OPENROUTER_API_KEY=sua_chave_openrouter_aqui